* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #FFF;
}

header {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 8px rgba(141, 141, 141, 0.3);
    
}
header h1 {
    color: #610361;
}

@media(max-width:500px){
    header h1 {
        color: #610361;
        margin-bottom: 10px;
        font-size: 25px;
        font-weight: bold;
    }
}

header img{
    width: 3.5rem;
    margin: 0px 10px 15px;
}

.product-details {
    width: 100%;
    max-width: 480px; /* Adjust based on your design */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.product-details h2{
    color: #610361;
    margin: 90px 0 60px;
}

/* .image-background{
    background-color: #F7F7F7;
    border-radius: 10px;
    margin: auto;
    padding: 30px;
    width: 450px;
    box-shadow: 2px 4px 8px rgba(141, 141, 141, 0.3);
} */

.image-container {
    position: relative;
    margin-bottom: 20px;
}



.image-container img {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #F7F7F7;
    border: 2px solid #F7F7F7; /* Placeholder for non-selected colors */
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(141, 141, 141, 0.3);
}

@media (max-width: 600px){
    .image-container img {
        width: 50%;
        height: auto;
    }
}

@media (max-width: 470px){
    .image-container img {
        width: 50%;
        height: auto;
    }
}

.color-option {
    /* Your styles for the color option images */
    width: 70px;
    height: auto;
    margin: 25px 5px 15px;
    padding: 8px;
    background-color: #F7F7F7;
    border: 2px solid #F7F7F7;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(141, 141, 141, 0.3);
}


.color-options img {
    
    width: 70px; /* Adjust based on your design */
    height: auto;
    margin: 25px 5px 15px;
    padding: 8px;
    background-color: #F7F7F7;
    border: 2px solid #F7F7F7; /* Placeholder for non-selected colors */
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(141, 141, 141, 0.3);
    
}

.add-icon{
    width: 45px !important;
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important; 
    margin-bottom: 30px !important;
}

.color-options img.selected {
    border: 2px solid #610361; /* Highlight the selected color */
}

.size-options{
    max-width: 300px;
    margin: auto;
    padding-bottom: 30px;
}

.size-options button {
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #DDD;
    background-color: #FFF;
    cursor: pointer;
}

.size-options button.selected {
    background-color: #610361;
    color: #FFF;
}

.product-info {
    margin-bottom: 30px;
}

.product-info h3 {
    margin-bottom: 10px;
    color: #333;
}

.price {
    font-weight: bold;
    margin-bottom: 20px;
}

.description {
    margin-bottom: 20px;
    color: #666;
}

.view-products-btn {
    padding: 10px 40px;
    background-color: #610361;
    color: #FFF;
    border: none;
    cursor: pointer;
    border-radius: 9px;
}

@media (max-width: 768px) {
    /* Adjust styles for mobile */
    .product-details {
        padding: 10px;
    }
}
