/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header img{
    width: 3.5rem;
    margin: 0px 10px 15px;
}

@media(max-width:500px){
    header img{
        width: 3.1rem;
        margin: 0px 5px 15px;
    }
}

a{
    text-decoration: none;
}

header h1 {
    color: #610361;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
}

@media(max-width:500px){
    header h1 {
        color: #610361;
        margin-bottom: 10px;
        font-size: 25px;
        font-weight: bold;
    }
}

header p {
    color: #666;
    font-size: 14px;
}

.hero-section{
    /* text-align: center; */
    margin-bottom: 50px;
}

.welcome{
    position: absolute;
    top: 30%;
    left: 5%;
    color: #927BC0;
    font-size: 9rem;
    font-family: 'Gabriel', serif;
    font-weight: 400;
    line-height: 9rem;
}

@media (max-width: 1400px) {
    .welcome {
        top: 25%;
        line-height: 7rem;
        font-size: 7rem;
    }
}

@media (max-width: 1080px) {
    .welcome {
        top: 24%;
        line-height: 5rem;
        font-size: 5rem;
    }
}

@media (max-width: 768px) {
    .welcome {
        top: 23%;
        line-height: 4rem;
        font-size: 3.8rem;
    }
}

@media (max-width: 600px){
    .welcome{
        top: 26%;
        line-height: 2.5rem;
        font-size: 2.1rem;
    }
}

@media (max-width: 470px){
    .welcome{
        top: 22%;
        line-height: 2.5rem;
        font-size: 1.9rem;
    }
}

.hero-section p{
    position: absolute;
    top: 67%;
    left: 5%;
    color: #610361;
    font-family: 'Gabriel', serif;
    font-size: 2.5rem;
    /* font-size: 250%; */
    max-width: 1000px;
    
}

@media (max-width: 1400px) {
    .hero-section p {
        max-width: 800px;
        top: 65%;
        font-size: 2rem; /* Slightly smaller font size */
    }
}

@media (max-width: 1080px) {
    .hero-section p {
        max-width: 580px;
        top: 52%;
        font-size: 1.5rem; /* Slightly smaller font size */
    }
}

@media (max-width: 768px){
    .hero-section p {
        max-width: 450px;
        top: 46%;
        font-size: 1.4rem;
    }
}

@media (max-width: 600px){
    .hero-section p {
        max-width: 300px;
        top: 40%;
        font-size: 0.8rem;
    }
}

@media (max-width: 470px){
    .hero-section p {
        max-width: 270px;
        top: 34%;
        font-size: 0.7rem;
    }
}

.hero-section img{
    width: 100%;
    margin: 0;
    z-index: -1;
    position: relative;
}


.product-list h2 {
    text-align: center;
    padding: 10px;
    font-size: 40px;
    color: #610361;
}


.product {
    /* border: 1px solid #ccc; */
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.image-container{
    background-color: #F7F7F7;
    border-radius: 10px;
    margin: auto;
    padding: 30px;
    width: 450px;
    box-shadow: 2px 4px 8px rgba(141, 141, 141, 0.3);
}

.product-list

.product img {
    
    max-width: 100%;
    height: auto;
}

.product h3 {
    padding-top: 15px;
    color: #333;
    margin: 10px 0;
    font-size: 1.8rem;
}

.product p {
    padding-bottom: 20px;
    color: #666;
    font-weight: bold;
    font-size: 1.8em
}

.jeans {
    width: 20rem;
}

.cargo {
    width: 25rem;
}

@media (min-width: 768px) {
    /* Adjustments for larger screens */
}

/* Further responsive design adjustments as necessary */
